.link:hover {
    transform: translateY(-10px);
    font-weight: bold;
    color: rgb(29 78 216);
}

@media screen and (max-width: 768px) {
    .link:hover {
        transform: translateY(0);
    }
}

.link:hover .icon {
    display: block;
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .link .icon {
        display: block;
        transform: translateY(0px);
    }
}

.light {
    background-color: rgb(239 246 255);
    transition: all 0.3 ease;
}

.light h1 {
    background-color: rgb(239 246 255);
}

.light .projects:hover {
    background-color: rgb(55 65 81);
}

.light .projects:hover a h3, .light .projects:hover a p {
    color: rgb(239 246 255);
}

.dark {
    background-color: rgb(55 65 81);
    color: rgb(239 246 255);
    transition: all 0.3s ease;
}

.dark h1 {
    color: rgb(239 246 255);
}

.dark p {
    color: rgb(209 213 219);
}

.dark a {
    color: rgb(209 213 219);
}

.dark .projects:hover a h3, .dark .projects:hover a p {
    color: rgb(55 65 81);
}